<div class="ui main container">
  <h1 class="ui main header">Kaleidos Search</h1>

  <div class="hero">
    <div class="extra-content">
      <Authorization @onAuthorize={{action this.doSearch}} />

      {{link-to "Search" "search" class="ui button"}}
      {{link-to "New document" "documents.new" class="ui button"}}
      {{link-to "Document overview" "documents.index" class="ui button"}}
    </div>
  </div>  

  {{outlet}}
</div>

